/* grey */

$grey50: #f8f9fa;
$grey100: #f1f3f5;
$grey200: #e9ecef;
$grey300: #dee2e6;
$grey400: #ced4da;
$grey500: #adb5bd;
$grey600: #868a96;
$grey700: #495057;
$grey800: #343a40;
$grey900: #212529;

/* red */
$red50: #fff5f5;
$red100: #ffe3e3;
$red200: #ffc9c9;
$red300: #ffa8a8;
$red400: #ff8787;
$red500: #ff6b6b;
$red600: #fa5252;
$red700: #f03e3e;
$red800: #e03131;
$red900: #c92a2a;

/* pink */
$pink50: #fff0f6;
$pink100: #ffdeeb;
$pink200: #fcc2d7;
$pink300: #faa2c1;
$pink400: #f783ac;
$pink500: #f06595;
$pink600: #e64980;
$pink700: #d6336c;
$pink800: #c2255c;
$pink900: #a61e4d;

/* grape */
$grape50: #f8f0fc;
$grape100: #f3d9fa;
$grape200: #eebefa;
$grape300: #e599f7;
$grape400: #da77f2;
$grape500: #cc5de8;
$grape600: #be4bdb;
$grape700: #ae3ec9;
$grape800: #9c36b5;
$grape900: #862e9c;

/* violet */
$violet50: #f3f0ff;
$violet100: #e5dbff;
$violet200: #d0bfff;
$violet300: #b197fc;
$violet400: #9775fa;
$violet500: #845ef7;
$violet600: #7950f2;
$violet700: #7048e8;
$violet800: #6741d9;
$violet900: #5f3dc4;

/* indigo */
$indigo50: #edf2ff;
$indigo100: #dbe4ff;
$indigo200: #bac8ff;
$indigo300: #91a7ff;
$indigo400: #748ffc;
$indigo500: #5c7cfa;
$indigo600: #4c6ef5;
$indigo700: #4263eb;
$indigo800: #3b5bdb;
$indigo900: #364fc7;

/* blue */
$blue50: #e7f5ff;
$blue100: #d0ebff;
$blue200: #a5d8ff;
$blue300: #74c0fc;
$blue400: #4dabf7;
$blue500: #339af0;
$blue600: #228be6;
$blue700: #1c7ed6;
$blue800: #1971c2;
$blue900: #1864ab;

/* cyan */
$cyan50: #e3fafc;
$cyan100: #c5f6fa;
$cyan200: #99e9f2;
$cyan300: #66d9e8;
$cyan400: #3bc9db;
$cyan500: #22b8cf;
$cyan600: #15aabf;
$cyan700: #1098ad;
$cyan800: #0c8599;
$cyan900: #0b7285;

/* teal */
$teal50: #e6fcf5;
$teal100: #c3fae8;
$teal200: #96f2d7;
$teal300: #63e6be;
$teal400: #38c9a9;
$teal500: #20c997;
$teal600: #12b886;
$teal700: #0ca678;
$teal800: #099268;
$teal900: #087f5b;

/* green */
$green50: #ebfbee;
$green100: #d3f9d8;
$green200: #b2f2bb;
$green300: #8ce99a;
$green400: #69db7c;
$green500: #51cf66;
$green600: #40c057;
$green700: #37b24d;
$green800: #2f9e44;
$green900: #2b8a3e;

/* lime */
$lime50: #f4fce3;
$lime100: #e9fac8;
$lime200: #d8f5a2;
$lime300: #c0eb75;
$lime400: #a9e34b;
$lime500: #94d82d;
$lime600: #82c91e;
$lime700: #74b816;
$lime800: #66a80f;
$lime900: #5c940d;

/* yellow */
$yellow50: #fff9db;
$yellow100: #fff3bf;
$yellow200: #ffec99;
$yellow300: #ffe066;
$yellow400: #ffd43b;
$yellow500: #fcc419;
$yellow600: #fab005;
$yellow700: #f59f00;
$yellow800: #f08c00;
$yellow900: #e67700;

/* orange */
$orange50: #fff4e6;
$orange100: #ffe8cc;
$orange200: #ffd8a8;
$orange300: #ffc078;
$orange400: #ffa94d;
$orange500: #ff922b;
$orange600: #fd7e14;
$orange700: #f76707;
$orange800: #e8590c;
$orange900: #d9480f;

/* else */
$white: #ffffff;
$black: #16181e;
$brown: #8d4e32;
$primary: #fca311;
$secondary: #14213d;


:export {
    grey50: $grey50;
    grey100: $grey100;   
    grey200: $grey200;   
    grey300: $grey300;   
    grey400: $grey400;   
    grey500: $grey500;   
    grey600: $grey600;   
    grey700: $grey700;   
    grey800: $grey800;   
    grey900: $grey900;   
   
    red50: $red50;   
    red100: $red100;   
    red200: $red200;   
    red300: $red300;   
    red400: $red400;   
    red500: $red500;   
    red600: $red600;   
    red700: $red700;   
    red800: $red800;   
    red900: $red900;   
   
    pink50: $pink50;   
    pink100: $pink100;   
    pink200: $pink200;   
    pink300: $pink300;   
    pink400: $pink400;   
    pink500: $pink500;   
    pink600: $pink600;   
    pink700: $pink700;   
    pink800: $pink800;   
    pink900: $pink900;
   
    grape50: $grape50;   
    grape100: $grape100;   
    grape200: $grape200;   
    grape300: $grape300;   
    grape400: $grape400;   
    grape500: $grape500;   
    grape600: $grape600;   
    grape700: $grape700;   
    grape800: $grape800;   
    grape900: $grape900; 
   
    violet50: $violet50;   
    violet100: $violet100;   
    violet200: $violet200;   
    violet300: $violet300;   
    violet400: $violet400;   
    violet500: $violet500;   
    violet600: $violet600;   
    violet700: $violet700;   
    violet800: $violet800;   
    violet900: $violet900;
   
    indigo50: $indigo50;   
    indigo100: $indigo100;   
    indigo200: $indigo200;   
    indigo300: $indigo300;   
    indigo400: $indigo400;   
    indigo500: $indigo500;   
    indigo600: $indigo600;   
    indigo700: $indigo700;   
    indigo800: $indigo800;   
    indigo900: $indigo900;
   
    blue50: $blue50;   
    blue100: $blue100;   
    blue200: $blue200;   
    blue300: $blue300;   
    blue400: $blue400;   
    blue500: $blue500;   
    blue600: $blue600;   
    blue700: $blue700;   
    blue800: $blue800;   
    blue900: $blue900;   
   
    cyan50: $cyan50;   
    cyan100: $cyan100;   
    cyan200: $cyan200;   
    cyan300: $cyan300;   
    cyan400: $cyan400;   
    cyan500: $cyan500;   
    cyan600: $cyan600;   
    cyan700: $cyan700;   
    cyan800: $cyan800;   
    cyan900: $cyan900;
   
    teal50: $teal50;   
    teal100: $teal100;   
    teal200: $teal200;   
    teal300: $teal300;   
    teal400: $teal400;   
    teal500: $teal500;   
    teal600: $teal600;   
    teal700: $teal700;   
    teal800: $teal800;   
    teal900: $teal900;
   
    green50: $green50;   
    green100: $green100;   
    green200: $green200;   
    green300: $green300;   
    green400: $green400;   
    green500: $green500;   
    green600: $green600;   
    green700: $green700;   
    green800: $green800;   
    green900: $green900;   
   
    lime50: $lime50;   
    lime100: $lime100;   
    lime200: $lime200;   
    lime300: $lime300;   
    lime400: $lime400;   
    lime500: $lime500;   
    lime600: $lime600;   
    lime700: $lime700;   
    lime800: $lime800;   
    lime900: $lime900;
   
    yellow50: $yellow50;   
    yellow100: $yellow100;   
    yellow200: $yellow200;   
    yellow300: $yellow300;   
    yellow400: $yellow400;   
    yellow500: $yellow500;   
    yellow600: $yellow600;   
    yellow700: $yellow700;   
    yellow800: $yellow800;   
    yellow900: $yellow900;
   
    orange50: $orange50;   
    orange100: $orange100;   
    orange200: $orange200;   
    orange300: $orange300;   
    orange400: $orange400;   
    orange500: $orange500;   
    orange600: $orange600;   
    orange700: $orange700;   
    orange800: $orange800;   
    orange900: $orange900;
   
    white: $white;   
    black: $black;      
    brown: $brown;  
    primary: $primary;
    secondary: $secondary; 
};