  .container {
    width: 100%;
    margin: 0;
  }
  .tab-header {
    list-style: none;
    background: #eee;
    line-height: 45px;
    /* box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12), 0 1px 3px 0px rgba(0, 0, 0, 0.24); */
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #616161;
  }
  .tab-header li {
    display: inline;
    padding: 10px 12px;
    line-height: 30px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .tab-header li.active,
  .tab-header li:hover {
    background: #4cb8c4;
    background: -webkit-linear-gradient(
      to right,
      #4cb8c4,
      #3cd3ad
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4cb8c4,
      #3cd3ad
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .tab-content {
    height: 400px;
    background: #eee;
    border: 1px solid #dedeed;
    width: 100%;
    position: relative;
  }
  
  .tab-child {
    padding: 15px;
  }